<h2 mat-dialog-title>
  Info
  <mat-dialog-content>
    <!-- In your component template -->
    <ul>
      <li>Select the difficulty level (default: easy)</li>
      <li>The timer starts when the user begins typing</li>
      <li>Disable the difficulty level button once typing starts</li>
      <li>
        Correctly typed characters turn green, incorrect characters turn red
      </li>
      <li>If any issues occur, prompt the user to reload the browser</li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary">Close</button>
  </mat-dialog-actions>
</h2>
